APP_PORT=8080
APP_SECRET_KEY=
APP_ENV=development # development | production
APP_API_KEY=
APP_URL=http://localhost

# JWT
JWT_MODE=development # development | release

# Database Connection
MYSQL_USER=root
MYSQL_PASS=
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB_NAME=

# Redis
REDIS_URL=localhost
REDIS_PASS=
REDIS_PORT=6379